

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake
CMakeFiles
CMakeCache.txt
Makefile
/_deps
/bin
/build
/generated-includes
/lib
/Testing
*.cmake
*.tcl

# test artifacts
/test/*Test

# Project artifacts
robot

# VSCode
.vscode